<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Plastica</string>
	<key>2</key>
	<string>Vetro</string>
	<key>3</key>
	<string>Alluminio</string>
	<key>4</key>
	<string>Generico</string>
	<key>5</key>
	<string>Umido</string>
	<key>6</key>
	<string>Batterie</string>
	<key>7</key>
	<string>Farmaci</string>
	<key>8</key>
	<string>Ingombranti</string>
</dict>
</plist>
